/*******************************************
CSS Reset
********************************************/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*******************************************
Variables
********************************************/
//Colors
$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$error-color: rgb(209, 138, 7);
// Spacing
$spacing-xsmall: 0.5rem;
$spacing-small: 0.7rem;
$spacing-reg: 1rem;
$spacing-lg: 1.5rem;

//Border Radius
$radius-sm: 5px;
$radius-reg: 10px;

//Font Sizes
$font-xsmall: 9px;
$font-small: 12px;
$font-medium: 15px;
$font-large: 20px;

/*******************************************
Global Styles
********************************************/
body {
  background: $light-grayish-cyan;
  height: 100vh;
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
}

label {
  color: $dark-grayish-cyan;
  margin-bottom: $spacing-reg;
}

button,
input {
  font-weight: 700;
  font-family: "Space Mono", sans-serif;
}

/***********************************************
Project Styles Begin - Mobile first up to 767px
************************************************/
.main-title {
  text-align: center;
  color: $very-dark-cyan;
  font-size: $font-large;
  letter-spacing: 3px;
  margin-block: $spacing-reg;
  opacity: 0.7;

  //Split Title For Design
  & span {
    display: block;
  }
}

.calculator-container {
  background-color: $white;
  width: 90%;
  margin-inline: auto;
  border-radius: $radius-reg;
  padding: $spacing-reg;
}

.bill-input-wrapper,
.people-input-wrapper {
  position: relative;
}

.error-message {
  position: absolute;
  top: 6px;
  right: 0;
  font-size: $font-small;
  color: $error-color;
  display: none;
}

.bill-input,
.people-input {
  display: block;
  width: 100%;
  padding: $spacing-xsmall $spacing-small;
  border: 0;
  text-align: right;
  outline: 0;
  border-radius: $radius-sm;
  margin-block: $spacing-xsmall;
  color: $very-dark-cyan;
  font-size: $font-large;

  &:focus {
    border: 1px solid $strong-cyan;
  }
  &::placeholder {
    font-family: "Space Mono";
  }
}

.people-input.error {
  border: 1px solid $error-color;
}

.dollar-icon {
  position: absolute;
  left: 10px;
  top: 50px;
  height: 15px;
}

.tip-percent-wrapper {
  margin-top: $spacing-reg;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

.tip-button,
.custom-tip-input {
  margin: 0 $spacing-xsmall $spacing-xsmall 0;
  height: 2.1rem;
  text-align: center;
  background: $very-dark-cyan;
  border: 0;
  color: $white;
  border-radius: $radius-sm;
  font-size: $font-large;

  &:hover {
    background-color: $strong-cyan;
    color: $very-dark-cyan;
    cursor: pointer;
  }
}

.tip-button.active {
  background-color: $strong-cyan;
  color: $very-dark-cyan;
}

.custom-tip-input {
  background: $white;
  outline: 0;

  &::placeholder {
    color: $dark-grayish-cyan;
  }

  &:focus {
    border: 1px solid $strong-cyan;
  }
}

.person-icon {
  position: absolute;
  left: 10px;
  top: 52px;
  height: 15px;
}

.totals-section {
  background: $very-dark-cyan;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: $spacing-lg $spacing-reg;
  border-radius: $radius-reg;
  row-gap: $spacing-reg;
}

.per-person-wrapper,
.total-per-person-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-reg;
  padding-left: 1rem;
}

.per-person-text {
  color: $white;
  font-size: $font-medium;
}

.per-person-text span {
  display: block;
  color: $grayish-cyan;
  font-size: $font-xsmall;
}

.totals-amount {
  height: 50%;
  text-align: center;
  color: $strong-cyan;
  font-size: $font-large;
}

.reset-btn {
  grid-column: 1 / -1;
  background: $strong-cyan;
  padding-block: $spacing-small;
  border-radius: $radius-sm;
  border: 0;
  color: $very-dark-cyan;
  font-size: $font-large;

  &:hover {
    cursor: pointer;
    background-color: $strong-cyan;
    color: $very-dark-cyan;
  }
}

/*******************************************
Project Styles - from 768px
********************************************/
@media (min-width: 768px) {
  .project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -5rem;
  }

  .calculator-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    width: 70%;
  }

  .totals-section {
    padding-top: 3rem;
  }

  .totals-amount {
    font-size: 1.8rem;
  }

  .tip-percent-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }

  .per-person-wrapper {
    padding-left: 0;
  }

  .per-person-text {
    font-size: $font-small;
  }

  .reset-btn {
    margin-top: 4rem;
    padding-block: 0;
    height: 30px;
    font-size: $font-medium;
  }
}

/*******************************************
Project Styles - 1024px and up
********************************************/
@media (min-width: 1024px) {
  .calculator-container {
    width: 60%;
  }
}

//from 1440px
@media (min-width: 1440px) {
  .calculator-container {
    width: 45%;
  }
}
